@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@font-face{font-family: 'Parisienne', cursive;}



.tudo{
    margin: 0;
    width: 110%;
    position: absolute;
    top: -0.5rem;
}

.header-content{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 220px;
    top: 0rem;
    left: -1rem;
}

.tudo .side-bar{
    position:absolute;
    height: 1000px;
    left: -0.7rem;
}

.nav-bar .icon-sidebar{
    position: absolute;
    display: flex;
    z-index: 100;
    top: 0.4rem;
    left: -0.4rem;
}

.header-content .icons{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}

.header-content .logo-e-barra{
    align-self: center;
    margin-left: 10%;
}

.header-content .logo-e-barra .logo a{
    font-family: Parisienne;
    font-size: 7rem;
    color: black;
}

.header-content .logo-e-barra .barra-pesquisa{
    padding: 2rem;
}

@media (min-width: 700px){
    
    .tudo{
        width: 100%;
    }    
    .header-content .logo-e-barra{
        align-self: center;
        margin-left: 30%;
        
    }

    .header-content .logo-e-barra .logo{
        margin-bottom: 1rem;
        margin-left: -25%;

    }

    .header-content .logo-e-barra .logo a{
        font-size: 10rem;
    }

    .header-content .logo-e-barra{
        margin-top: 3rem;
    }

    .header-content .icons{
        position: absolute;
        right: 0;
    }
}